<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<title>Astro Clock</title>

	<!-- D3.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


	<!-- Month names -->
	<link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
	
	<style>
		#chart{
			text-align: center;
		}
		
		.monthArc {
			fill: none;
			stroke: #000000;
		}

		.monthText {
			fill: #6B6B6B;
			font-size: 20px;
			font-family: 'Courgette', sans-serif;
		}



	</style>
  </head>
  <body>

	<div id="data"></div>
	<div id="chart"></div>
	
      

    <script>
		////////////////////////////////////////////////////////////
		//////////////////////// Set-up ////////////////////////////
		////////////////////////////////////////////////////////////

		var screenWidth = window.innerWidth;

		var margin = {left: 20, top: 50, right: 20, bottom: 20},
			width  = Math.min(screenWidth, 650) - margin.left - margin.right,
			height = Math.min(screenWidth, 650) - margin.top - margin.bottom;
					
		var svg = d3.select("#chart").append("svg")
					.attr("width", (width + margin.left + margin.right))
					.attr("height", (height + margin.top + margin.bottom))
				  .append("g").attr("class", "wrapper")
					.attr("transform", "translate(" + (width / 2 + margin.left) + "," + (height / 2 + margin.top) + ")");

	        var seconds_length = 75;
	        var minutes_length = 65;
	        var hours_length = 55;

     	        svg.append("line")
     	           .attr("x1", 0)
     	           .attr("y1", 0)
     	           .attr("x2", seconds_length)
     	           .attr("y2", 0)
		   .attr("id", 'seconds')
     	           .attr("style", "stroke:rgb(255,0,0);stroke-width:2;transform: rotate(270deg);");



     	        svg.append("line")
     	           .attr("x1", 0)
     	           .attr("y1", 0)
     	           .attr("x2", minutes_length)
     	           .attr("y2", 0)
		   .attr("id", 'minutes')
     	           .attr("style", "stroke:rgb(168,88,50);stroke-width:3;transform: rotate(270deg);");
	
					  
     	        svg.append("line")
     	           .attr("x1", 0)
     	           .attr("y1", 0)
     	           .attr("x2", hours_length)
     	           .attr("y2", 0)
		   .attr("id", 'hours')
     	           .attr("style", "stroke:rgb(0,0,0);stroke-width:4;transform: rotate(270deg);");
	
     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 5)
		   .attr("id", 'lagna')
     	           .attr("fill", "black");
     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 100)
		   .attr("id", 'lagna_line')
	    	   .attr("stroke-dasharray",  "5, 5" )
     	           .attr("stroke", "black")
     	           .attr("fill", "none");


     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 10)
		   .attr("id", 'moon')
     	           .attr("fill", "#a8329a");
     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 120)
		   .attr("id", 'moon_line')
	    	   .attr("stroke-dasharray",  "5, 5" )
     	           .attr("stroke", "black")
     	           .attr("fill", "none");

     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 10)
		   .attr("id", 'rahu')
     	           .attr("fill", "blue");

     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 10)
		   .attr("id", 'ketu')
     	           .attr("fill", "gray");

     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 10)
		   .attr("id", 'sun')
     	           .attr("fill", "red");
     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 140)
		   .attr("id", 'sun_line')
     	           .attr("stroke", "black")
	    	   .attr("stroke-dasharray",  "5, 5" )
     	           .attr("fill", "none");

     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 10)
		   .attr("id", 'mars')
     	           .attr("fill", "brown");
     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 200)
		   .attr("id", 'mars_line')
	    	   .attr("stroke-dasharray",  "5, 5" )
     	           .attr("stroke", "black")
     	           .attr("fill", "none");


     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 10)
		   .attr("id", 'mercury')
     	           .attr("fill", "green");
     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 160)
		   .attr("id", 'mercury_line')
	    	   .attr("stroke-dasharray",  "5, 5" )
     	           .attr("stroke", "black")
     	           .attr("fill", "none");


     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 10)
		   .attr("id", 'venus')
     	           .attr("fill", "orange");
     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 180)
		   .attr("id", 'venus_line')
	    	   .attr("stroke-dasharray",  "5, 5" )
     	           .attr("stroke", "black")
     	           .attr("fill", "none");


     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 10)
		   .attr("id", 'jupiter')
     	           .attr("fill", "#dbc71a");
     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 220)
		   .attr("id", 'jupiter_line')
	    	   .attr("stroke-dasharray",  "5, 5" )
     	           .attr("stroke", "black")
     	           .attr("fill", "none");


     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 10)
		   .attr("id", 'saturn')
     	           .attr("fill", "black");
     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 240)
		   .attr("id", 'saturn_line')
     	           .attr("stroke", "black")
	    	   .attr("stroke-dasharray",  "5, 5" )
     	           .attr("fill", "none");


     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", width*0.25/2)
		   .attr("id", 'clock') 
     	           .attr("stroke", "black")
     	           .attr("fill", "none");

     	        svg.append("circle")
     	           .attr("cx", 0)
     	           .attr("cy", 0)
     	           .attr("r", 5)
		   .attr("id", 'origin') 
     	           .attr("stroke", "black")
     	           .attr("fill", "red");



                function getData() {
       		  d3.json("/stuff", function(error, response) {
		    if (error)  { console.log(error) }
	            console.log(JSON.stringify(response));
		    document.getElementById("lagna").setAttribute('cx', response['LAGNA'][3][0] * width*0.25/2  );
		    document.getElementById("lagna").setAttribute('cy', response['LAGNA'][3][1] * width*0.25/2  );
		    document.getElementById("moon").setAttribute('cx', response['MOON'][3][0] * 100 );
		    document.getElementById("moon").setAttribute('cy', response['MOON'][3][1] * 100 );
		    document.getElementById("sun").setAttribute('cx', response['SUN'][3][0] * 120 );
		    document.getElementById("sun").setAttribute('cy', response['SUN'][3][1] * 120 );
		    document.getElementById("rahu").setAttribute('cx', response['RAHU'][3][0] * 140 );
		    document.getElementById("rahu").setAttribute('cy', response['RAHU'][3][1] * 140 );
		    document.getElementById("ketu").setAttribute('cx', response['KETU'][3][0] * 140 );
		    document.getElementById("ketu").setAttribute('cy', response['KETU'][3][1] * 140 );
		    document.getElementById("mercury").setAttribute('cx', response['MERCURY'][3][0] * 160 );
		    document.getElementById("mercury").setAttribute('cy', response['MERCURY'][3][1] * 160 );
		    document.getElementById("venus").setAttribute('cx', response['VENUS'][3][0] * 180 );
		    document.getElementById("venus").setAttribute('cy', response['VENUS'][3][1] * 180 );
		    document.getElementById("mars").setAttribute('cx', response['MARS'][3][0] * 200 );
		    document.getElementById("mars").setAttribute('cy', response['MARS'][3][1] * 200 );
		    document.getElementById("jupiter").setAttribute('cx', response['JUPITER'][3][0] * 220 );
		    document.getElementById("jupiter").setAttribute('cy', response['JUPITER'][3][1] * 220 );
		    document.getElementById("saturn").setAttribute('cx', response['SATURN'][3][0] * 240 );
		    document.getElementById("saturn").setAttribute('cy', response['SATURN'][3][1] * 240 );
		    });
                }

		////////////////////////////////////////////////////////////
		//////////////////// Scales & Data /////////////////////////
		////////////////////////////////////////////////////////////

		//The start date number and end date number of the months in a year
		var monthData = [
			{month: "Mesha", 	    startDateID: 0, 	endDateID: 30},
			{month: "Vrishaba",     startDateID: 31, 	endDateID: 60},
			{month: "Mithuna", 	    startDateID: 61, 	endDateID: 90},
			{month: "Karka", 	    startDateID: 91, 	endDateID: 120},
			{month: "Simha",        startDateID: 121, 	endDateID: 150},
			{month: "Kanya", 	    startDateID: 151, 	endDateID: 180},
			{month: "Tula", 	    startDateID: 181, 	endDateID: 210},
			{month: "Vrischika",   	startDateID: 211, 	endDateID: 240},
			{month: "Dhanu",        startDateID: 241, 	endDateID: 270},
			{month: "Makara", 	    startDateID: 271, 	endDateID: 300},
			{month: "Kumbha",       startDateID: 301, 	endDateID: 330},
			{month: "Meena",	    startDateID: 331, 	endDateID: 360}
		];

		//Creates a function that makes SVG paths in the shape of arcs with the specified inner and outer radius 
		var arc = d3.svg.arc()
			.innerRadius(width*0.25/2 +   0) 
			.outerRadius(width*0.9/2 +  10);

		  
		//Creates function that will turn the month data into start and end angles
		var pie = d3.layout.pie()
			.value(function(d) { return d.endDateID - d.startDateID; })
			.padAngle(.01)
			.sort(null);
	             //Append circle



		////////////////////////////////////////////////////////////
		//////////////////// Create the Slices /////////////////////
		////////////////////////////////////////////////////////////

		//Draw the arcs themselves
		svg.selectAll(".monthArc")
			.data(pie(monthData))
		   .enter().append("path")
			.attr("class", "monthArc")
			.attr("id", function(d,i) { return "monthArc_"+i; })
			.attr("d", arc)
	                .style("stroke-width", 1);
			
		//Append the month names within the arcs
		svg.selectAll(".monthText")
			.data(monthData)
		   .enter().append("text")
			.attr("class", "monthText")
			.attr("x", 35) //Move the text from the start angle of the arc
			.attr("dy", 30) //Move the text down
		    .append("textPath")
			.attr("xlink:href",function(d,i){return "#monthArc_"+i;})
			.text(function(d){return d.month;});	


	        getData();
	        interval_id = window.setInterval(getData,  60000); 

	        const minsHand = document.querySelector('#minutes');
	        const hourHand = document.querySelector('#hours');
	        const secondHand = document.querySelector('#seconds');

	        function setDate() {
	            		   const now = new Date();

	            		   const seconds = now.getSeconds();
	            		   const secondsDegrees = ((seconds / 60) * 360) + 270;
	            		   secondHand.style.transform = `rotate(${secondsDegrees}deg)`;

	            		   const mins = now.getMinutes();
	            		   const minsDegrees = ((mins / 60) * 360) + ((seconds/60)*6) + 270;
	            		   minsHand.style.transform = `rotate(${minsDegrees}deg)`;

	            		   const hour = now.getHours();
	            		   const hourDegrees = ((hour / 12) * 360) + ((mins/60)*30) + 270;
	            		   hourHand.style.transform = `rotate(${hourDegrees}deg)`;
	            	 }

	        setInterval(setDate, 1000);

	</script>
	
  </body>
</html>
