sudo curl -X PUT --data-binary '{
  "listeners": {
      "*:80": {
          "pass": "applications/python"
      }
  },
  "applications": {
      "python": {
          "type": "python",
          "path": "/home/pi/learn/astro/spaceclock/",
          "module": "wsgi"
      }
  }
  }' --unix-socket /usr/local/var/run/unit/control.unit.sock http://localhost/config/

#curl http://localhost:8080

sudo curl -X GET --unix-socket /usr/local/var/run/unit/control.unit.sock \
      http://localhost/control/applications/python/restart

sudo curl -X PUT --data-binary '{
  "listeners": {
      "*:80": {
          "pass": "applications/spaceclock_asgi"
      }
  },
  "applications": {
      "spaceclock_asgi": {
          "processes": 2,
          "limits": {
              "timeout": 3,
              "requests": 500

          },
          "type": "python",
          "path": "/home/pi/learn/async/",
          "module": "asgi"
      }
  }
  }' --unix-socket /usr/local/var/run/unit/control.unit.sock http://localhost/config/


sudo curl -X GET --unix-socket /usr/local/var/run/unit/control.unit.sock \
      http://localhost/control/applications/spaceclock_asgi/restart
